<!DOCTYPE html>
<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "static/style.css">
		<title>Argument Mining API</title>
	</head>
	<body>
		<ul class="dash">
			<li><a class="padd active" href="home">Home</a></li>
			<li><a class="padd" href="doc">Documentation</a></li>
			<li><a class="padd" href="imgs">Images</a></li>
			<li><a class="padd" href="ref">References</a></li>
			<li><a class="padd" href="about">About</a></li>
			<li style="float:right;"><a href="https://www.uni-mainz.de/"><img src="static/JGU.jpeg" alt="JGU" height="35px"/></a></li>
		</ul>

		<form action="#" method="post">
			<p><input type="text" name="json"></p>
			<p><input type="submit" value="Search!"></p>
		</form>

	</body>
</html>